:root {
    background-color: lightcyan;
}

* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: rgb(22, 23, 20)
 }
 .hide {
   display: none;
 }

 body {
    margin: auto;
    padding: auto;
    text-align: center;
 }
 
 h1 {
    font-size: 45px;
    font-weight: 500;
 }

 p {
    font-size: 20px;
 }

 .btn {
    background: linear-gradient(0deg, lightblue, transparent);
    font-size: 18px;
    margin: 25px;
    padding: 5px;
}

.btn:hover {
   cursor: pointer; 
   background-color: blue;

}

